/* Google Fonts - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Tailwind CSS and DaisyUI imports */
@import "tailwindcss";
@plugin "daisyui";

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#nav-links > li > a.active {
  /* @apply bg-gradient-to-r from-[#632EE3] to-[#9F62F2]; */
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] bg-clip-text text-transparent border-b border-[#9F62F2] rounded-none;
}
